# build files
out/*
build/*
gen/*
LabletTests/gen/*
app/src/main/jniLibs/*
*.iml

# IDEA project files
workspace.xml
build.xml
local.properties
keystore.properties
Project_Default.xml
profiles_settings.xml
.idea/libraries/*
.idea/gradle.xml
.idea/modules.xml
.idea/vcs.xml
openCVLibrary2411/build/intermediates/incremental/mergeDebugAndroidTestAssets/merger.xml
openCVLibrary2411/build/intermediates/incremental/mergeDebugAssets/merger.xml
openCVLibrary2411/build/intermediates/incremental/mergeReleaseAssets/merger.xml
.gradle/*


# other files
ant.properties
proguard-project.txt
*.apk
*.aar
*.ap_
*.hprof
*.jar
*.bc
*.swp

# dolphin (KDE file manager)
.directory
